<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Caesar Cipher</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Caesar Cipher</h1>
    <form>
      <input type="text" id="message" placeholder="Type your message" />
      <input type="number" id="shift" placeholder="Shift number" />
      <label
        ><input type="radio" name="action" value="encode" checked />
        Encode</label
      >
      <label><input type="radio" name="action" value="decode" /> Decode</label>
      <button type="submit">Submit</button>
    </form>
    <p id="output"></p>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>
